apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - pvc.yaml
  - configmap.yaml
  - seed-model-job.yaml
  - api-deployment.yaml
  - api-service.yaml
  - batch-cronjob.yaml
